<% @ads.each do |ad| %>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <%= image_tag ad.picture.url(:medium) %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to truncate(ad.title, length:10), site_ad_detail_path(ad) %>
        </h4>
        <h5><%= humanized_money_with_symbol ad.price %></h5>
        <p class="card-text"><%= truncate(ad.description_short, length:100) %></p>
      </div>
      <div class="rating"style="padding: 5px;">
        <p class="pull-right">
        <%= ad.rates('quality').count %> <%= t('labels.reviews') %>
        </p>
        <%= rating_for ad, 'quality' %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class= "text-center">
    <%= paginate @ads %>
  </div>
</div>
